<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'AppsInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'AppsCurso' %}">Curso</a>
                <a class="navbar-brand" href="{% url 'AppsEntregable' %}">Entregable</a>
                <a class="navbar-brand" href="{% url 'AppsFormularioCurso' %}">FormularioCurso</a>
                <a class="navbar-brand" href="{% url 'AppsBusquedaCamada' %}">BusquedaCamada</a>

                {% if user.is_authenticated %}

                    <h5>User: {{ user.get_username }}</h5>
                    <a class="btn btn-primary" href="{% url 'UserLogOut' %}">Logout</a>

                {% else %}
                    <a class="btn btn-primary" href="{% url 'UserLogin' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'UserRegister' %}">Registro</a>

                {% endif %}
            </div>
</nav>