<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'AppsInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'AppsCurso' %}">Curso</a>
                <a class="navbar-brand" href="{% url 'AppsEntregable' %}">Entregable</a>
                <a class="navbar-brand" href="#!">{{ valor1 }}</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
</nav>